/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$positive:                      #999999 !default;
$bar-light-bg:                  #E6E6E6 !default;
$bar-light-text:                #868787 !default;
$color-logo-Recycle:            #F0C82F !default;
$color-logo-Swap:               #77B49F !default;
$color-logo-Repair:             #CBD348 !default;
$color-logo-Donate:             #666666 !default;
$color-orange:                  #FBAE17 !default;
$color-aquamarine:              #4EB7A2 !default;

$tutorial-footer-bar-height:      5px;
$tutorial-footer-bar-color:       #575756;
$tutorial-footer-height:          25px;

$balloon-img-height:              348px;
$balloon-img-width:               389px;
$balloon-text-left:               66px;
$balloon-text-right:              328px;
$balloon-text-top:                62px;
$balloon-text-bottom:             243px;



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "app/lib/ionic/scss/ionic";

@font-face {
  font-family: 'device-font';
  src: url('../fonts/lane-narrow.eot');
  src: url('../fonts/lane-narrow.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lane-narrow.woff') format('woff'),
       url('../fonts/lane-narrow.ttf') format('truetype'),
       url('../fonts/lane-narrow.svg#device-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

$subtitle-bar-color: #f2f2f2;

.nav-bar-title {

  .title-image {
    height: $bar-height - 4;
    margin-top: 2px;
  }
}

.border-color-orange {
  border-color: $color-orange !important;
}

.border-color-aquamarine {
  border-color: $color-aquamarine !important;
}

.vertical-dashed-line {
  border-left: 2px dashed #000;
  left: 50%;
  position: relative;
  margin-left: -1px;
}

.top-dashed-line {
  border-top: 2px dashed #000;
  margin-top: 1px;
}

.right-dashed-line {
  border-right: 2px dashed #000;
  margin-left: 1px;
}

.left-dashed-line {
  border-left: 2px dashed #000;
  margin-left: -1px;
}

.button-bar {
  > .action-button {
    padding: 0 6px;
  }
}

.color-Recycle {
  color: $color-logo-Recycle !important;
}

.color-Repair {
  color: $color-logo-Repair !important;
}

.color-Swap {
  color: $color-logo-Swap !important;
}

.color-Donate {
  color: $color-logo-Donate !important;
}

.box {
  @include border-radius(5px);
  padding: 1px 8px;
  color: #fff;

  &.box-color-Recycle {
    background-color: $color-logo-Recycle !important;
  }

  &.box-color-Repair {
    background-color: $color-logo-Repair !important;
  }

  &.box-color-Swap {
    background-color: $color-logo-Swap !important;
  }

  &.box-color-Donate {
    background-color: $color-logo-Donate !important;
  }

  .box-content {
    color: #000;
    background-color: #fff;
  }
}

.button {

  &.button-fat-border {
    border: 10px solid #ccc;
    border-radius: 10px;
  }
}

.button-bar {

  .button.image-button {
    min-height: 100px;
    opacity: .5;

    &.selected {
      opacity: 1;
    }

    img {
      height: 58px;
      display: block;
      margin: 0 auto;
    }
  }
}

.full {
	width: 100%;
	height: 100%;
	display: flex;
  flex-flow: column;
}

.auto-row {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
}

.full-row {
  flex: 1 1 auto;
  display: flex;
}

.flex-item-start {
  align-self: flex-start;
}

.flex-item-center {
  align-self: center;
}

.full-column {
  height: 100%;
  flex: 1 1 auto;
}

.full-column-layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.h-centered-content {
  display: flex;
  justify-content: center;
}

.h-centered-row, .v-centered-column {
  justify-content: center;
}

.v-centered-content {
  display: flex;
  align-items: center;
}

.v-centered-row, .h-centered-column {
  align-items: center;
}

.flex-item-auto {
  flex: 0 1 auto;
}

.flex-item-full {
  flex: 1 1 auto;
}

.subtitle {
  width: 90%;
	min-height: $bar-height;
	position: relative;
  border-bottom: 1px solid #999;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: $subtitle-bar-color;

  &:before, &:after {
    width: 12px;
    position: absolute;
    left: 100%;
    content: '';
    margin-top: -1px;
  }

  &:before {
    top: 0%;
    height: calc(50% + 1px);
    background: linear-gradient(to right top, $subtitle-bar-color 47.5%, #999 47.5%, #999 52.5%,
      transparent 52.5%);
  }

  &:after {
    top: 50%;
    height: calc(50% + 2px);
    background: linear-gradient(to right bottom, $subtitle-bar-color 47.5%, #999 47.5%, #999 52.5%,
      transparent 52.5%);

  }

  > span {
    padding: 11px 20px;
    display: block;
    flex: 0 0 auto;
    max-width: 100%;

  }
}

.tutorial-slider {
  height: 100%;

  > .slider-pager {
    .slider-pager-page {
      color: #4e4d4d;
    }
  }

  .waste-background {
    background-size: cover;
    background-image: url("../img/tutorial/waste-background.jpg");
    background-position: center;
  }

  .waste-text {
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    line-height: 1.8em;
    text-shadow: 2px 2px 10px #000;
    width: 100%;
  }

  .select-device-background {
    background-size: cover;
    background-image: url("../img/tutorial/select-device.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .select-status-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/tutorial/select-status.png");
    background-position: center;
  }

  .select-action-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/tutorial/select-action.png");
    background-position: center;

    margin-top: 50px;
  }

  .tutorial-logo-img {
    width: 70%;
    max-width: 300px;
    margin: 5px;
  }

  .tutorial-people-img {
    width: 230px;
    height: auto;
  }

  .tutorial-padding {
    padding-top: 5px;
    padding-bottom: 35px;
  }

  .tutorial-footer-bar, .tutorial-header-bar {
    height: $tutorial-footer-bar-height;
    background-color: $tutorial-footer-bar-color;
  }

  .tutorial-footer-img, .tutorial-header-img {
    height: $tutorial-footer-height;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .tutorial-footer-img {
    margin-right: 10px;
  }

  .tutorial-header-img {
    margin-left: 10px;
  }

  .tutorial-balloon-container {
    position: relative;
    flex: 1 1 auto;

    .tutorial-balloon {
      > img {
        position: relative;
        width: 100%;
      }

      > div {
        position: absolute;
        top: 0;
        left: 0;

        text-align: center;
        width: 100%;
        height: 100%;

        padding-top: percentage($balloon-text-top / $balloon-img-height);
        padding-left: percentage($balloon-text-left / $balloon-img-width);
        padding-right: percentage(($balloon-img-width - $balloon-text-right) /
          $balloon-img-width);
        padding-bottom: percentage(($balloon-img-height - $balloon-text-bottom) /
          $balloon-img-height);

        @extend .v-centered-content;

        .balloon-text {
          overflow-y: scroll;
          overflow-x: hidden;
          word-break: normal;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    .balloon-select-device {
      position: absolute;
      bottom: 50%;
      left: 35%;
      width: 150px;
    }

    .balloon-select-status {
      position: absolute;
      bottom: 20%;
      left: 40%;
      width: 180px;
    }

    .balloon-select-action {
      position: absolute;
      bottom: 75%;
      left: 30%;
      width: 150px;
    }

    .balloon-select-ecopoint {
      position: absolute;
      bottom: 30%;
      left: 48%;
      width: 150px;
    }

    .balloon-end-tutorial {
      width: 170px;
      position: relative;
    }
  }


}

.logo-img {
  width: 100%;
  margin: 5px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.error-list {
  color: $assertive;
}

.ez-device-block {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #fff;
  font-size: 20px;
  font-family: 'device-font', sans-serif;
  // Fixes a bug where the font is not rendered correctly the first time
  text-rendering: auto;
  padding: 0.3em;
  text-align: center;
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }

  .ez-device-text {
    max-width: 100%;
    white-space: normal;
  }
}

.ez-device-block-small {
  min-height: 4em;
  max-width: 150px;

  img {
    max-width: 68px;
    max-height: 68px;
  }
}

.ez-device-block-large {
  min-height: 4em;
  width: 180px;

  img {
    max-height: 150px;
  }
}

.ez-device-block-full {
  height: 100%;
}

ion-item.ez-device-item {
  display: flex;
  padding: 0;
  align-items: center;

  .ez-device-item-name {
    flex: 1 1 auto;
  }

  .ez-device-item-icon {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    margin: 5px;
  }
}

.hidden {
  visibility: hidden;
}

.facebook-login {
  color: #fff;
  background-color: #2D4373;
  height: 3.5em;

  &:hover {
    color: #fff;
  }

  &.active, &.activated {
    color: #fff;
    background-color: #213659;
  }
}

.facebook-icon-container {
  display: inline-block;
  /*background-color: #fff;
  color: #2D4373;*/
  float: left;
  font-size: 2.0em;
  width: 40px;
  height: 40px;
}

.facebook-icon {
  /*display: inline-block;
  bottom: -5px;
  right: -5px;
  position: relative;*/
}

.side-menu {
  background-color: #4d4d4d;

  .item, .item-content {
    border-width: 0px;
    background-color: #4d4d4d;
    color: #fff;
    vertical-align: middle;
  }

  .menu-title {
    color: #fff;
  }

  .bar-menu {
    background: transparent;
  }
}

.side-menu {
  .item, .item-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .item, .item-content, .menu-icon-content {
    font-weight: bold;
    &.activated {
      background-color: #7f7f7f;
    }
  }
}

.menu-icon-container {
  display: flex;
  align-items: center;

  .menu-icon {
    img {
      max-height: 2.5em;
      max-width: 100%;
    }

    width: 2.0em;
    flex: none;
    text-align: center;
  }

  .menu-icon-content {
    padding-left: 20px;
    overflow: hidden;
    white-space: normal;
  }
}

.status-select-col {
  text-align: center;
  padding: 0px;
}

.dashed-line {
  border-bottom: 2px dashed #666;
  margin: 20px 20px 0 20px;
}

.dashed-line-v {
  border-left: 2px dashed #666;
}

.angular-google-map, .angular-google-map-container {
  flex: 1 1 100%;
  display: flex;
}

.map-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%
}

.my-location-button {
  font-size: 40px;
  color: #333;
  font-weight: bolder;
  text-shadow: 1px 1px 0px #fff;
  margin-left: 6px;
}

input[readonly].maps-searchbox-input {
  background-color: white;
}

.padding-all {
  padding: 10px;
}

.action-text {
  font-size: 30px;
  line-height: normal;
}

.item-history {
  .item-content {
    padding: 5px;
  }

  .item-history-device {
    width: 33%;
    max-width: 200px;
  }

  .item-history-info {
    p {
      white-space: normal;
    }

    .history-action {
      float: right;
      max-width: 60%;
    }

    .item-history-id {
      font-weight: bold;
      font-size: 30px;
      line-height: normal;
    }
  }
}

.status-approved {
  color: rgb(75, 144, 84);
}

.status-pending {
  color: rgb(213, 62, 29);
}

.statistics-container {
  padding: 20px;
}

.statistics-group-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics-person-img, .statistics-device-img {
  width: 35px;
  vertical-align: middle;
}

.statistics-person-img {
  margin: 0 10px;
}

.statistics-speech {
  @extend .text-center;
  @extend .v-centered-content;

  $width: 100px;
  $height: 240 / 269 * $width; /* imgHeight / imgWidth * width */

  background-image: url("../img/statistics/speech.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  vertical-align: middle;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15.5%;

  .statistics-speech-text {
    overflow: hidden;
    max-height: 100%;
    width: 100%;
  }
}

.statistics-row {
  margin: 5px 0;
  flex-shrink: 0;
}

.statistics-statistics-img {
  max-width: 150px;
  width: 100%;
}

.statistics-text {
  padding: 10px;
  font-size: 1.15em;
}

.statistics-thanks-text {
  font-size: 1.15em;
  font-weight: bold;
}

.statistics-description-text {

}

.statistics-user-img {
  width: 60px;
}

.statistics-value {
  font-weight: bold;
}

.summary-info-img {
  width: 50px;
}

.summary-device {
  width: 95px;
}

.summary-statistics-row {
  margin: 4px 0;
  flex-shrink: 0;
}

.summary-statistics-img-container {
  max-width: 33%;

  .summary-statistics-img {
    max-width: 100%;
  }
}

.summary-action-type-container {
  position: relative;
  min-height: 105px;
  max-width: 400px;
}

.summary-action-type {
  width: 100%;
  position: absolute;
  height: 50%;
  top: 50%;
  overflow: hidden;
}

.action-block {
  line-height: normal;
  font-size: 20px;

  .action-block-img {
    width: 20px;
    margin-top: 2px;
  }

  .mapped-reduce {
    color: #78B5A0;
  }

  .mapped-recycle {
    color: #F0C82f;
  }

  .mapped-reuse {
    color: #CDD447;
  }
}

.full-scroll-flex {
  margin-top: 0px;
  display: flex;

  > .scroll {
    flex: 1 1 auto;
    display: flex;
  }
}

.result-container {
  padding-bottom: 15px;
  max-width: 600px;
}

.text-middle {
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}

.swap-device-image-container {
  padding: 10px 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @extend .text-center;

  img {
    max-height: 100%;
    max-width: 800px;
    object-fit: scale-down;
  }
}

.button-margin {
  margin: 5px;
}

.brand-filter {
  border-color: #ddd;
    background-color: #fff;
    color: #444;
    margin: 0 -1px;
    padding: 12px;
}
