<ion-view>
  <ion-nav-title translate>
    About
  </ion-nav-title>
  <ion-content class="padding">
    <div style="text-align: center">
      <h1>E-Zerowaste</h1>
      <h5 translate>Version {{appInfo.version}}</h5>
    </div>
  </ion-content>
</ion-view>
