<div class="action-block text-center">
  <div>
    <span class="mapped-{{mappedAction()}}" ng-switch="mappedAction()">
      <span ng-switch-when="recycle" translate>Recycle</span>
      <span ng-switch-when="reuse" translate>Reuse</span>
      <span ng-switch-when="reduce" translate>Reduce</span>
    </span>
  </div>
  <div>
    <img ng-src="img/mapped-{{mappedAction()}}.png" class="action-block-img">
  </div>
</div>
