<span ng-switch="status()">
  <span ng-switch-when="PendingApproval" class="status-pending" translate>
    Pending
  </span>
  <span ng-switch-when="Approved" class="status-approved" translate>Approved</span>
</span>
