<span class="action-text color-{{action()}}" ng-switch="action()">
  <span ng-switch-when="Recycle" translate>Recycle</span>
  <span ng-switch-when="Repair" translate>Repair</span>
  <span ng-switch-when="Donate" translate>Donate</span>
  <span ng-switch-when="Swap" translate>Swap</span>
</span>
