<ion-modal-view ng-controller="ConfirmEmailController">
  <ion-header-bar>
    <h1 class="title" translate>Account activation</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <p translate>
      Before using our services, we need to confirm your email address. <br>
      Please write the activation code that we sent to your email. If you have
      not received it, please click the button below:
    </p>

    <button type="button" class="button button-block button-stable"
      ng-click="sendConfirmationEmail()">
      Resend activation code
    </button>

    <form ng-submit="activationForm.$valid && confirmEmail()" name="activationForm" novalidate>
      <div class="list">
        <label class="item item-input" ez-validate="activationForm.token">
          <span class="input-label" translate>Activation code</span>
          <input type="text" ng-model="data.token" name="token" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" translate>
            Activate
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
