<div class="ez-device-block"
     ng-style="{'background-color': (device().argbColor | argbIntToCssColor)}">
     <img ng-src="{{device().iconPath}}"/>
     <div ng-hide="hideText()" class="ez-device-text">{{device().information.name}}</div>
</div>
