<ion-view>
  <ion-nav-title translate>
    History
  </ion-nav-title>
  <ion-content class="padding">
    <script id="action-info-template.html" type="text/ng-template">
      <p translate>Please bring your device to the following ecopoint: </p>
      <h4>
        {{action.ecopoint.name}}
        (<a ng-href="{{action.ecopoint.location | mapsLink}}" href="" translate>map</a>)
      </h4>
      <p>{{action.ecopoint.address}}</p>
      <p translate>Schedule: {{action.ecopoint.schedule}}</p>
    </script>
    <div ng-if="!requestError && !actions.length" class="text-center" translate>
      There are no items yet.
    </div>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="action in actions" class="item-history">
        <div class="row">
          <ez-device device="deviceMap[action.deviceId]" class="item-history-device"
            size="small"></ez-device>
          <div class="col item-history-info">
            <ez-action-block action="action.actionType" class="history-action"></ez-action-block>
            <p class="item-history-id">{{action.id}}</p>

            <p><ez-action-status status="action.status"></ez-action-status></p>
            <p>{{action.dateCreated | date:'yyyy/mm/dd hh:mm a'}}</p>
            <p>
              <a ng-href="{{action.ecopoint.location | mapsLink}}" href="">
                {{action.ecopoint.name}}
              </a>
            </p>
            <p>
              <a ng-click="showDetails(action)" href="" translate>More information</a>
            </p>
          </div>
          <ion-option-button class="button-assertive" translate
            ng-disabled="action.status != 'PendingApproval'" ng-click="cancelAction($index)">
            Cancel
          </ion-option-button>
        </div>
      </ion-item>
    </ion-list>
    <div ng-if="isFirstRequest && requestError" class="text-center">
      <div>
        <a class="button button-icon icon ion-android-refresh" ng-click="reloadActions()"></a>
      </div>
      <div translate>
        There was a problem loading your history. Click to try again.
      </div>
    </div>
    <div ng-if="!isFirstRequest && requestError" class="text-center padding">
      <button class="button icon-left ion-android-refresh button-clear button-dark"
        style="line-height: normal;" ng-click="loadMoreActions()" translate>
        There was an error while fetching more entries. Click to try again.
      </button>
    </div>

    <ion-infinite-scroll ng-if="!listEndReached && !requestError"
      on-infinite="loadMoreActions()" distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
