<ion-modal-view ng-controller="LoginController">
  <ion-header-bar>
    <h1 class="title" translate>Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="dismiss()" translate>
        Cancel
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <form ng-submit="loginForm.$valid && login()" name="loginForm" novalidate>
      <div class="list">
        <label class="item item-input" ez-validate="loginForm.userName">
          <span class="input-label" translate>Email</span>
          <input type="email" ng-model="credentials.userName" name="userName" required>
        </label>
        <label class="item item-input" ez-validate="loginForm.password">
          <span class="input-label" translate>Password</span>
          <input type="password" ng-model="credentials.password" name="password" required>
        </label>
        <div class="item text-center">
          <button class="button button-block button-positive" type="submit" translate>
            Log in
          </button>

          <button type="button" class="button button-clear button-positive"
            ng-click="resetPassword()" translate>
            Forgot your password?
          </button>
        </div>
      </div>
    </form>

    <a class="button button-block button-positive" ng-click="signUp()" translate>Sign up</a>

    <button class="button button-block facebook-login" ng-click="loginWithFacebook()">
      <div class="facebook-icon-container">
        <span class="ion-social-facebook facebook-icon"></span>
      </div>
      <span translate>Log in with Facebook</span>
    </button>
  </ion-content>
</ion-modal-view>
