<ion-view>
  <ion-nav-title translate>
    Start
  </ion-nav-title>
  <ion-content class="padding">
    <div ng-if="requestError" class="text-center">
      <div>
        <a class="button button-icon icon ion-android-refresh" ng-click="automaticLogin()"></a>
      </div>
      <div translate>
        There was a problem while attempting to log in. Click to try again.
      </div>
    </div>
  </ion-content>
</ion-view>
