<ion-modal-view>
  <ion-header-bar class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="{{ 'Search' | translate }}" ng-model="data.query"
        ng-model-options="{debounce: 200}" ng-change="updateResults()">
    </label>
    <button class="button button-clear" ng-click="dismiss()" translate>
      Cancel
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="result in results" ng-click="selectResult(result)">
        {{result.description}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
