<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <header class="bar bar-header bar-menu">
      <h1 class="title menu-title" translate>Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <div ng-if="isLoggedIn()">
          <ion-item nav-clear menu-close class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/user.png">
            </div>
            <div class="menu-icon-content">
              {{fullName}}
            </div>
          </ion-item>
        </div>
        <div ng-if="!isLoggedIn()">
          <ion-item nav-clear menu-close ng-click="login()" class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/user.png">
            </div>
            <translate class="menu-icon-content">
              Log in
            </translate>
          </ion-item>
        </div>
        <ion-item nav-clear menu-close href="#/app/main">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/start.png">
            </div>
            <translate class="menu-icon-content">Start</translate>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/history">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/history.png">
            </div>
            <translate class="menu-icon-content">History</translate>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/statistics">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/stats.png">
            </div>
            <translate class="menu-icon-content">Statistics</translate>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/tutorial">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/help.png">
            </div>
            <translate class="menu-icon-content">Tutorial</translate>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/news">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/news.png">
            </div>
            <translate class="menu-icon-content">News</translate>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close href="mailto:info@e-zerowaste.com">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/contact.png">
            </div>
            <translate class="menu-icon-content">Contact</translate>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          <div class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/settings.png">
            </div>
            <translate class="menu-icon-content">Settings</translate>
          </div>
        </ion-item>
        <div ng-if="isLoggedIn()">
          <ion-item nav-clear menu-close ng-click="logout()" class="menu-icon-container">
            <div class="menu-icon">
              <img src="img/user.png">
            </div>
            <translate class="menu-icon-content">
              Log out
            </translate>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
