<ion-view>
  <ion-nav-title translate>
    News
  </ion-nav-title>
  <ion-content class="padding">
    <div ng-if="newsRequestError" class="text-center">
      <div>
        <a class="button button-icon icon ion-android-refresh" ng-click="reloadNews()"></a>
      </div>
      <div translate>
        There was a problem loading the announcements. Click to try again.
      </div>
    </div>
    <div ng-if="!newsRequestError">
      <div class="list card" ng-repeat="article in news">
        <div class="item">
          <h2>{{article.title}}</h2>
          <p>{{article.publishedDate | date:'MMM d h:mm a'}}</p>
        </div>
        <div class="item item-body" ng-bind-html="article.contentHtml" ez-external-links>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
