<ion-modal-view ng-controller="ResetPasswordController">
  <ion-header-bar>
    <h1 class="title" translate>Password reset</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="dismiss()" translate>
        Cancel
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <p translate>
      Write your email and click 'Request a reset code'. We will send a code to your email.
    </p>

    <form ng-submit="requestCodeForm.$valid && requestResetCode()" name="requestCodeForm"
      novalidate>
      <div class="list">
        <label class="item item-input" ez-validate="requestCodeForm.email">
          <span class="input-label" translate>Email</span>
          <input type="email" ng-model="data.email" name="email" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" translate>
            Request a reset code
          </button>
        </label>
      </div>
    </form>

    <br>
    <p translate>
      Write the code below:
    </p>

    <form ng-submit="resetPasswordForm.$valid && resetPassword()" name="resetPasswordForm"
      novalidate>
      <div class="list">
        <label class="item item-input" ez-validate="resetPasswordForm.email"
          server-errors="serverErrors['email']">
          <span class="input-label" translate>Email</span>
          <input type="email" ng-model="data.email" name="email" required>
        </label>
        <label class="item item-input" ez-validate="resetPasswordForm.token"
          server-errors="serverErrors['token']">
          <span class="input-label" translate>Reset code</span>
          <input type="text" ng-model="data.token" required>
        </label>
        <label class="item item-input" ez-validate="resetPasswordForm.password"
          server-errors="serverErrors['password']">
          <span class="input-label" translate>New password</span>
          <input type="password" ng-model="data.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" translate>
            Reset my password
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
