<ion-view>
  <ion-nav-title translate>
    Settings
  </ion-nav-title>
  <ion-content class="padding" overflow-scroll="true">
    <ion-list>
      <ion-item class="item-select item-text-wrap">
        <div class="input-label full-width">
          <h2 id="languageLabel" translate>Language</h2>
          <p translate>Sets up the user interface language</p>
        </div>
        <select ng-options="language.code as language.name
                            for language in languages"
                ng-model="settings.language">
          <option value="" translate>Device language</option>
        </select>
      </ion-item>

      <ion-item>
        <h2 translate>Version</h2>
        <p>{{appInfo.version}}</p>
      </ion-item>

      <ion-item href="#/app/about" class="item-text-wrap">
        <h2 translate>About</h2>
        <p translate>Shows the about page and licenses information</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
