<ion-modal-view ng-controller="SignUpController">
  <ion-header-bar>
    <h1 class="title" translate>Sign up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="dismiss()" translate>
        Cancel
      </button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
    <form ng-submit="signUpForm.$valid && save()" name="signUpForm" novalidate>
      <div class="list">
        <label class="item item-input" ez-validate="signUpForm.firstName"
               server-errors="serverErrors['firstName']">
          <span class="input-label" translate>First name</span>
          <input type="text"
                 ng-model="userData.firstName" name="firstName" required>
        </label>
        <label class="item item-input" ez-validate="signUpForm.lastName"
               server-errors="serverErrors['lastName']">
          <span class="input-label" translate>Last name</span>
          <input type="text"
                 ng-model="userData.lastName" name="lastName" required>
        </label>
        <label class="item item-input" ez-validate="signUpForm.email"
               server-errors="serverErrors['email']">
          <span class="input-label" translate>Email</span>
          <input type="email" placeholder="email@site.com"
                 ng-model="userData.email" name="email" required>
        </label>
        <label class="item item-input" ez-validate="signUpForm.password"
               server-errors="serverErrors['password']">
          <span class="input-label" translate>Password</span>
          <input type="password" required
                 ng-model="userData.password" name="password">
        </label>
        <label class="item item-input" ez-validate="signUpForm.birthday"
               server-errors="serverErrors['birthday']">
          <span class="input-label" translate>Birthday</span>
          <input type="date" ng-model="userData.birthday" name="birthday"
                 required>
        </label>
        <label class="item item-input item-select" ez-validate="signUpForm.gender"
               server-errors="serverErrors['gender']">
          <span class="input-label" translate>Gender</span>
          <select ng-model="userData.gender" name="gender" required>
            <option value="" translate>Select a gender</option>
            <option value="Female" translate>Female</option>
            <option value="Male" translate>Male</option>
          </select>
        </label>
      </div>

      <ez-errors source="serverErrors['']"></ez-errors>

      <div class="padding">
        <button type="submit" class="button button-block button-positive" translate>
          Sign up
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
