<ion-view>
  <ion-nav-title translate>
    Statistics
  </ion-nav-title>
  <ion-content class="padding" scroll="false">
    <div ng-if="requestError" class="text-center">
      <div>
        <a class="button button-icon icon ion-android-refresh" ng-click="reloadStatistics()"></a>
      </div>
      <div translate>
        There was a problem loading your statistics. Click to try again.
      </div>
    </div>
    <div ng-if="!requestError" class="full statistics-container">
      <div class="auto-row v-centered-row">
        <div class="flex-item-full padding">
          <p class="statistics-thanks-text" translate>
            Thank you Z-Waster!.
          </p>
          <p class="statistics-description-text" translate>
            You have reused or recycled
            <span class="statistics-value">{{statistics.actionCount}}</span>
            devices.
          </p>
        </div>
        <div class="flex-item-auto">
          <img src="img/user.png" class="statistics-user-img">
        </div>
      </div>
      <div class="full-row v-centered-row h-centered-row statistics-row">
        <div class="v-centered-content">
          <img src="img/statistics/statistics.png" class="statistics-statistics-img">
        </div>
        <div class="statistics-text v-centered-content">
          <div>
            <div translate>
              <span class="statistics-value">{{statistics.totalCo2Kilograms}} kilograms</span>
              of CO2 neutralized
            </div>
            <div translate>
              <span class="statistics-value">{{statistics.totalCrudeLiters}} liters</span>
              of petroleum reduced
            </div>
            <div translate>
              <span class="statistics-value">{{statistics.totalWaterLiters}} liters</span>
              of water saved
            </div>
          </div>
        </div>
      </div>
      <div class="auto-row v-centered-row h-centered-row">
        <div class="flex-item-auto">
          <div class="h-centered-content">
            <div class="flex-item-auto statistics-speech">
              <div class="statistics-speech-text" translate>Thank you!</div>
            </div>
          </div>
          <p>
            <img src="img/statistics/woman.png" class="statistics-person-img">
            <img src="img/statistics/device.png" class="statistics-device-img">
            <img src="img/statistics/man.png" class="statistics-person-img">
          </p>
        </div>
        <div class="flex-item-full text-right">
          <button type="button" ng-click="share()"
            class="button button-icon icon icon-right ion-android-share-alt" translate>
            Share
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
