<ion-view>
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear no-animation"
        ng-click="goToMain()" ng-show="currentSlide === 0" translate>
        Skip
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <ion-slide-box active-slide="currentSlide" class="tutorial-slider">
      <ion-slide>
        <div class="full tutorial-padding">
          <div class="auto-row h-centered-row v-centered-row">
            <img src="img/logo.png" class="tutorial-logo-img">
          </div>

          <div class="full-row waste-background v-centered-content">
            <div class="waste-text" translate>
              The solution to correctly discard your electric and electronic waste.
            </div>
          </div>

          <div class="auto-row">
            <div class="flex-item-full padding" ng-if="!isLoggedIn()">
              <button class="button button-light full-width" ng-click="login()" translate>
                Log in
              </button>
            </div>
            <div class="flex-item-full padding" ng-if="!isLoggedIn()">
              <button class="button button-light full-width" ng-click="signUp()" translate>
                Sign up
              </button>
            </div>

            <div class="flex-item-full padding text-center" ng-if="isLoggedIn()">
              <h4 translate>Welcome {{user.firstName}}!</h4>
              <h4>
                <span class="text-middle" translate>Not you?</span>
                <button class="button button-light button-small" ng-click="logout()" translate>
                  Logout
                </button>
              </h4>

            </div>
          </div>

          <div class="auto-row v-centered-row">
            <div class="flex-item-full tutorial-footer-bar"></div>
            <img src="img/tutorial/footer.png" class="tutorial-footer-img flex-item-auto">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="full tutorial-padding">
          <div class="auto-row h-centered-row v-centered-row">
            <img src="img/logo.png" class="tutorial-logo-img">
          </div>

          <div class="full-row select-device-background">
            <div class="tutorial-balloon-container">
              <div class="tutorial-balloon balloon-select-device">
                <img src="img/tutorial/balloon.png">
                <div>
                  <div class="balloon-text" translate>
                    Choose the device to discard
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="full tutorial-padding">
          <div class="auto-row h-centered-row v-centered-row">
            <img src="img/logo.png" class="tutorial-logo-img">
          </div>

          <div class="full-row select-status-background">
            <div class="tutorial-balloon-container">
              <div class="tutorial-balloon balloon-select-status">
                <img src="img/tutorial/balloon.png">
                <div>
                  <div class="balloon-text" translate>
                    Tell us whether your device is working or not
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="full tutorial-padding">
          <div class="auto-row h-centered-row v-centered-row">
            <img src="img/logo.png" class="tutorial-logo-img">
          </div>

          <div class="full-row select-action-background">
            <div class="tutorial-balloon-container">
              <div class="tutorial-balloon balloon-select-action">
                <img src="img/tutorial/balloon.png">
                <div>
                  <div class="balloon-text" translate>
                    Choose what you want to do with your device
                  </div>
                </div>
              </div>

              <div class="tutorial-balloon balloon-select-ecopoint">
                <img src="img/tutorial/balloon.png">
                <div>
                  <div class="balloon-text" translate>
                    Find an ecopoint close to you
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="full tutorial-padding">
          <div class="auto-row v-centered-row">
            <img src="img/tutorial/header.png" class="tutorial-header-img flex-item-auto">
            <div class="flex-item-full tutorial-header-bar"></div>
          </div>
          <div class="auto-row">
            <div class="tutorial-balloon-container h-centered-content">
              <div class="tutorial-balloon balloon-end-tutorial">
                <img src="img/tutorial/balloon.png">
                <div>
                  <div class="balloon-text" translate>
                    That's it.<br>
                    Helping the planet is really easy.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="auto-row h-centered-row v-centered-row">
            <img src="img/tutorial/people.png" class="tutorial-people-img">
          </div>

          <div class="flex-item-full flex-item-center v-centered-content text-center">
            <div>
              <h4 translate>
                Now that you know what to do
              </h4>

              <div>
                <button class="button button-stable button-block" ng-click="goToMain()" translate>
                  Let's start
                </button>
              </div>
            </div>
          </div>
          <div class="auto-row h-centered-row v-centered-row">
            <img src="img/logo.png" class="tutorial-logo-img">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
