<ion-view>
  <ion-nav-title>
    <img class="title-image" src="img/logo.png">
  </ion-nav-title>
  <ion-content>
    <div class="subtitle" translate>Select the item to discard</div>
    <div class="padding">
      <div ng-if="deviceRequestError" class="text-center">
        <div>
          <a class="button button-icon icon ion-android-refresh" ng-click="reloadDevices()"></a>
        </div>
        <div translate>
          There was a problem loading the device list. Click to try again.
        </div>
      </div>
      <ion-list ng-if="!deviceRequestError">
        <ion-item ng-repeat="device in devices | orderBy:'information.name'" class="ez-device-item"
          ng-click="selectDevice(device)">
          <div class="ez-device-item-icon">
            <ez-device device="device" hide-text="true" size="full"></ez-device>
          </div>
          <div class="ez-device-item-name">
            {{device.information.name}}
          </div>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
