
<ion-view>
  <ion-nav-title>
    <img class="title-image" src="img/logo.png">
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="full">
      <div class="full-row">
        <div class="flex-item-center full-column-layout">
          <div class="h-centered-content">
            <ez-device device="deviceData.device" size="large"></ez-device>
          </div>
          <div style="height: 50px" class="vertical-dashed-line border-color-orange"></div>
          <div translate class="text-center">Does it work?</div>
          <div style="height: 50px" class="vertical-dashed-line border-color-orange"></div>

          <div class="row">
            <div class="col status-select-col">
              <div class="top-dashed-line left-dashed-line border-color-orange"
                   style="width: 50%; height: 50px; left: 50%; position: relative"></div>
              <button type="button" class="button button-light button-fat-border
                            border-color-orange" ng-click="selectWorking(true)" translate>
                Yes
              </button>
            </div>
            <div class="col status-select-col">
              <div class="top-dashed-line right-dashed-line border-color-orange"
                   style="width: 50%; height: 50px;"></div>
              <button type="button" class="button button-light button-fat-border
                            border-color-aquamarine" ng-click="selectWorking(false)" translate>
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
