<ion-view>
  <ion-nav-title>
    <img class="title-image" src="img/logo.png">
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="full">
      <div class="auto-row">
        <div class="subtitle">
          <span ng-if="deviceData.isWorking" translate>
            <strong>{{deviceData.device.information.name}} (working): </strong>
            What do you want to do?
          </span>
          <span ng-if="!deviceData.isWorking" translate>
            <strong>{{deviceData.device.information.name}} (not working): </strong>
            What do you want to do?
          </span>
        </div>
      </div>
      <div class="auto-row">
        <div class="button-bar">
          <a class="button button-clear image-button action-button color-Recycle" ez-radio-group="'Recycle'"
             ez-model="deviceData.action" ng-click="cleanBrandFilter()">
             <span translate>Recycle</span><img src="img/Recycle.png">
          </a>
          <a ng-if="!deviceData.isWorking" class="button button-clear image-button action-button color-Repair"
             ez-radio-group="'Repair'" ez-model="deviceData.action" ng-click="getBrands()">
             <span translate>Repair</span><img src="img/Repair.png">
          </a>
          <a ng-if="deviceData.isWorking" class="button button-clear image-button action-button color-Donate"
             ez-radio-group="'Donate'" ez-model="deviceData.action" ng-click="cleanBrandFilter()">
             <span translate>Donate</span><img src="img/Donate.png">
          </a>
          <a class="button button-clear image-button action-button color-Swap" ez-radio-group="'Swap'"
             ez-model="deviceData.action" ng-click="cleanBrandFilter()">
             <span translate>Swap</span><img src="img/Swap.png">
          </a>
        </div>
      </div>
      <div class="auto-row">
        <div class="dashed-line" style="margin-bottom: 10px; width: 100%"></div>
      </div>

      <div class="full-column-layout text-center" ng-if="deviceData.action !== 'Swap'">
        <div class="flex-item-center padding-all" ng-if="!mapsLoaded" translate>
            We were unable to load Maps at this moment.
            <a href="" ng-click="reloadMaps()">Try again</a>
        </div>

        <select ng-change="onBrandSelected()" class="brand-filter" ng-if="deviceData.action == 'Repair'" ng-model="data.filteredBrand" ng-options="option.name for option in brands_filter_opts.type_options track by option.id"></select>

        <ez-map-search place="data.place" map="map.control.getGMap()" class="item item-input"
          ng-if="mapsLoaded">
        </ez-map-search>

        <script type="text/ng-template" id="my-location-button.html">
          <a class="icon ion-pinpoint my-location-button" ng-click="getMyLocation()"></a>
        </script>

        <ui-gmap-google-map center='map.location' zoom='map.zoom' pan='map.pan'
             data-tap-disabled="true" control="map.control" ng-if="mapsLoaded">
          <ui-gmap-window show="data.isMarkerWindowShown" coords="deviceData.ecopoint.location"
                          closeClick="closeMarkerWindow()" options="data.markerWindowOptions">
            <div data-tap-disabled="false">
              <h4>{{deviceData.ecopoint.name}}</h4>
              <p>{{deviceData.ecopoint.address}}</p>
              <p translate>Schedule: {{deviceData.ecopoint.schedule}}</p>
              <button ng-click="$parent.selectEcopoint($parent.deviceData.ecopoint)"
                class="button button-positive button-small" translate>
                Select
              </button>
            </div>
          </ui-gmap-window>

          <ui-gmap-markers models="ecopoints" coords="'location'" idKey="id" type="cluster"
                           events="{'mousedown': onMarkerClicked}" icon="'_icon'" control="map.markersControl"
                           dragging="map.isDragging">
          </ui-gmap-markers>

          <ui-gmap-marker ng-if="data.myLocation" idKey="'self'" coords="data.myLocation"
                          options="locationMarkerOptions">
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>

      <div class="full-column-layout text-center overflow-hidden v-centered-column"
        ng-if="deviceData.action === 'Swap'">
        <div class="swap-device-image-container">
          <img ng-src="{{data.swapPictureUrl || 'img/picture.png'}}">
        </div>
        <div class="button-margin">
          <button class="button button-stable" ng-click="takePicture()" translate>
            Camera
          </button>
          <button class="button button-stable" ng-click="selectPicture()" translate>
            My photos
          </button>
        </div>
        <div class="button-margin">
          <button ng-disabled="!data.swapPictureUrl" ng-click="sharePicture()"
            class="button button-positive" translate>
            Share
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
