<ion-view>
  <ion-nav-title>
    <img class="title-image" src="img/logo.png">
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="full">
      <div class="auto-row">
        <div class="subtitle" translate>Take the device to the indicated Ecopoint</div>
      </div>
      <ion-scroll class="full-scroll-flex flex-item-full">
        <div class="v-centered-content h-centered-content flex-item-full">
          <div class="full-column-layout result-container">
            <div class="auto-row">
              <div class="full">
                <div class="full-row h-centered-row v-centered-row">
                  <div class="flex-item-auto padding text-center">
                    <div><ez-action-text action="deviceData.action"></ez-action-text></div>
                    <img ng-src="img/{{deviceData.action}}.png"
                      style="height: 70px; margin-top: 15px">
                  </div>
                  <div class="flex-item-auto padding">
                    <img src="img/process-device-3-1.png" style="height: 100px">
                  </div>
                  <div class="flex-item-auto padding">
                    <ez-device device="deviceData.device" size="small"></ez-device>
                  </div>
                </div>
              </div>
            </div>
            <div class="auto-row">
              <div class="flex-item-center full-column-layout" style="padding: 0 20px">
                <div class="text-center box box-color-{{deviceData.action}}" style="width: 60%;">
                  <div class="box-content">
                    <h4>{{deviceData.ecopoint.name}}</h4>
                    <p>{{deviceData.ecopoint.address}}</p>
                    <p translate>Schedule: {{deviceData.ecopoint.schedule}}</p>
                  </div>
                </div>
                <div class="dashed-line-v" style="margin-left: 30px; height: 50px"></div>
                <div class="full" style="height: auto">
                  <div class="full-row">
                    <div class="v-centered-content flex-item-full">
                      <div class="flex-item-full text-center box box-color-{{deviceData.action}}">
                        <span translate>Use this code</span>
                        <div class="box-content">
                          <h2 translate>Code:</h2>
                          <h1>{{resultCode}}</h1>
                        </div>
                      </div>
                    </div>
                    <div class="v-centered-content padding flex-item-auto">
                      <button type="button" class="button button-icon icon ion-chevron-right"
                        style="font-size: 40px" ng-click="showStatistics()">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
