<ion-view>
  <ion-nav-title translate>
    Summary
  </ion-nav-title>
  <ion-content class="full-scroll-flex">
    <div class="full-column-layout statistics-container">
      <div class="auto-row v-centered-row">
        <div class="flex-item-full padding">
          <p class="statistics-thanks-text" translate>
            Thank you Z-Waster!.
          </p>
          <p class="statistics-description-text">{{deviceData.device.information.description}}</p>
        </div>
        <div class="flex-item-auto">
          <img src="img/user.png" class="statistics-user-img">
        </div>
      </div>
      <div class="auto-row h-centered-row">
        <div class="flex-item-auto v-centered-content">
          <img src="img/statistics/info.png" class="summary-info-img">
        </div>
        <div class="flex-item-full summary-action-type-container">
          <div class="top-dashed-line text-center summary-action-type">
            <ez-action-block action="deviceData.action"></ez-action-block>
          </div>
        </div>
        <div class="flex-item-auto v-centered-content">
          <ez-device class="summary-device" device="deviceData.device" size="small"></ez-device>
        </div>
      </div>
      <div class="full-row v-centered-row h-centered-row summary-statistics-row">
        <div class="v-centered-content summary-statistics-img-container">
          <img src="img/statistics/statistics.png" class="summary-statistics-img">
        </div>
        <div class="statistics-text v-centered-content">
          <div>
            <div translate>
              <span class="statistics-value">{{deviceData.device.co2Kilograms}} kilograms</span>
              of CO2 neutralized
            </div>
            <div translate>
              <span class="statistics-value">{{deviceData.device.crudeLiters}} liters</span>
              of petroleum reduced
            </div>
            <div translate>
              <span class="statistics-value">{{deviceData.device.waterLiters}} liters</span>
              of water saved
            </div>
          </div>
        </div>
      </div>
      <div class="auto-row v-centered-row h-centered-row">
        <div class="flex-item-auto">
          <div class="h-centered-content">
            <div class="flex-item-auto statistics-speech">
              <div class="statistics-speech-text" translate>Thank you!</div>
            </div>
          </div>
          <div class="statistics-group-img-container">
            <img src="img/statistics/woman.png" class="statistics-person-img">
            <img src="img/statistics/device.png" class="statistics-device-img">
            <img src="img/statistics/man.png" class="statistics-person-img">
          </div>
        </div>
        <div class="flex-item-full text-right">
          <p>
            <a href="{{deviceData.ecopoint.location | mapsLink}}"
              class="button button-icon icon icon-right ion-navigate" translate>
              Navigate
            </a>
          </p>
          <p>
            <button type="button" ng-click="shareStatistics()"
              class="button button-icon icon icon-right ion-android-share-alt" translate>
              Share
            </button>
          </p>
          <p>
            <button type="button" ng-click="goHome()"
              class="button button-icon icon icon-right ion-home" translate>
              Start again
            </button>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
